DATABASE_URL=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=
APP_URL=
BREVO_API_KEY=
MAIL_FROM=
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
INTERSWITCH_MAC_KEY=
INTERSWITCH_WEBPAY_URL=
INTERSWITCH_API_URL=
INTERSWITCH_REDIRECT_URL=
PLATFORM_FEE_PERCENT=